@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Lato:wght');
.body {

    width: 1440px;
height: 1200px;
margin: 0px;
}
.sidemain {
    width: 315px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.font {
    
width: 110px;
height: 24px;
    font-family: 'Everett';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
}
.UserPanel {

    width: 67px;
    height: 17px;
    font-family: 'Everett';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.dsh {
    display: flex;

background: #EFE9FF;
border-radius: 8px;
align-items: center;
gap: 13px;
   padding: 18px 24px; 
}
.dsh:hover {
    color: lightblue;
}
.vec {
    display: flex;
font-family: 'Everett';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #84828A;
gap: 11px;
align-items: center;

}
.vec:hover {
    color: blue;
    cursor: pointer;
}
.trd {
    
font-family: 'Everett';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
gap: 10px;
display: flex;

color: #84828A;
}